In [1]:
import os
import numpy as np
import pandas as pd

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

target = 'moved_after_2019'
idx = 'user_id'

In [2]:
df_train = pd.read_csv("./csv_files/train_users.csv")
df_test  = pd.read_csv("./csv_files/test_users.csv")
df_subm  = pd.read_csv("./csv_files/submission.csv")
df_lang  = pd.read_csv("./csv_files/languages.csv")
df_edu   = pd.read_csv("./csv_files/education.csv")
df_skill = pd.read_csv("./csv_files/skills.csv")
df_exp   = pd.read_csv("./csv_files/work_experiences.csv")

In [3]:
df_train = df_train.set_index(idx)
df_test = df_test.set_index(idx)
df_subm = df_subm.set_index(idx)

df_exp = df_exp[df_exp['start_year_month'] < 201901] # see https://www.kaggle.com/competitions/garanti-bbva-data-camp/discussion/383774

### Education Table Preprocess

In [4]:
df_edu = df_edu[df_edu['school_name'].notnull() & df_edu['degree'].notnull()]

In [5]:
edu_conv = {
    "(?i).*(doktora|doctor|phd|ph.d).*": "phd",
    "(?i).*(yüksek|master|M.Sc|MS|MBA|M.S).*": "master",
    "(?i).*(lisans|licence|bachelor|BS|B.S|B.Sc|engineer|mühendis|mezun|graduate|licentiate).*": "graduate",
}

df_edu.loc[:, 'degree'] = df_edu.loc[:, 'degree'].replace(edu_conv, regex=True)
df_edu = df_edu[df_edu['degree'].isin(edu_conv.values())]

In [6]:
df_edu = df_edu.drop_duplicates(['user_id', 'degree'])
df_edu = pd.pivot(df_edu, index='user_id', columns='degree', values='school_name')
df_edu.head()

degree,graduate,master,phd
user_id,,,
1,Fırat Üniversitesi,Fırat Üniversitesi,NaN
3,Fırat Üniversitesi,NaN,NaN
4,Fırat Üniversitesi,NaN,NaN
5,The State University of Applied Sciences in El...,Firat University,NaN
6,Fırat Üniversitesi,NaN,NaN

### Language Table Preprocess

In [7]:
df_lang = df_lang[df_lang['language'].notnull() & df_lang['proficiency'].notnull()]

In [8]:
lang_rank = {
    'elementary': 1,
    'limited_working': 2,
    'professional_working': 3,
    'full_professional': 4,
    'native_or_bilingual': 5
}

df_lang.loc[:, 'proficiency'] = df_lang.loc[:, 'proficiency'].map(lang_rank)

In [9]:
lang_conv = {
    '(?i).*(ingilizce|english|englishch|englisch).*': 'english',
    '(?i).*(almanca|german|deutsch).*': 'german',
    '(?i).*(fransızca|french|français).*': 'french',
    '(?i).*(ispanyolca|spanish|español).*': 'spanish',
    '(?i).*(arapça|arabic).*': 'arabic',
    '(?i).*(rusça|russian).*': 'russian',
    '(?i).*(türkçe|turkish|türkisch).*': 'turkish',
}

df_lang['language'] = df_lang['language'].replace(lang_conv, regex=True)
df_lang = df_lang[df_lang['language'].isin(lang_conv.values())]

In [10]:
df_lang = df_lang.drop_duplicates(['user_id', 'language'])
df_lang = pd.pivot(df_lang, index='user_id', columns='language', values='proficiency')
df_lang = df_lang.fillna(0).astype(int)
df_lang.head()

language  arabic  english  french  german  russian  spanish  turkish
user_id
8              0        4       1       0        0        0        5
11             0        3       0       0        0        0        5
12             0        3       0       0        0        0        5
13             0        4       0       2        0        0        0
14             0        3       0       0        0        0        5

### Skill Table Preprocess

In [11]:
used_skills = df_skill['skill'].value_counts().iloc[:60].index # we only took most common 60 skills, you can increase it

df_skill = df_skill[df_skill['skill'].isin(used_skills)]
df_skill['experience'] = True

In [12]:
df_skill = df_skill.drop_duplicates(['user_id', 'skill'])
df_skill = pd.pivot(df_skill, index='user_id', columns='skill', values='experience')
df_skill = df_skill.fillna(0).astype(int)
df_skill.head()

skill,.NET,AJAX,ASP.NET,ASP.NET MVC,Agile Methodologies,Android,AutoCAD,C,C#,C++,...,Spring Framework,T-SQL,Visual Studio,Web Development,Web Geliştirme,Web Services,XML,Yazılım Geliştirme,jQuery,İngilizce
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Experience Table Preprocess

In [13]:
df_exp = df_exp.sort_values(by=['user_id', 'start_year_month']) # we want nth function to return the last companies by date
df_new = pd.DataFrame()

In [14]:
df_new['company(1th)'] = df_exp.groupby(idx)['company_id'].nth(-1).astype(str)
df_new['company(2th)'] = df_exp.groupby(idx)['company_id'].nth(-2).astype(str)
df_new['company(3th)'] = df_exp.groupby(idx)['company_id'].nth(-3).astype(str)

df_new['company_location(1th)'] = df_exp.groupby(idx)['location'].nth(-1).astype(str)
df_new['company_location(2th)'] = df_exp.groupby(idx)['location'].nth(-2).astype(str)
df_new['company_location(3th)'] = df_exp.groupby(idx)['location'].nth(-3).astype(str)

df_new['min_exp_time'] = df_exp.groupby(idx)['start_year_month'].min()
df_new['max_exp_time'] = df_exp.groupby(idx)['start_year_month'].max()

df_new['company_count_2018'] = df_exp[df_exp['start_year_month'].gt(201712)].groupby(idx).size()
df_new['company_count_2017'] = df_exp[df_exp['start_year_month'].gt(201612)].groupby(idx).size()
df_new['company_count_2016'] = df_exp[df_exp['start_year_month'].gt(201512)].groupby(idx).size()

In [15]:
df_exp = df_new
df_exp.head()

,company(1th),company(2th),company(3th),company_location(1th),company_location(2th),company_location(3th),min_exp_time,max_exp_time,company_count_2018,company_count_2017,company_count_2016
user_id,,,,,,,,,,,
0,0,0,NaN,Visual Studio Asp.Net Developer,Serbest Çalışmalar,NaN,200509,200509,NaN,NaN,NaN
2,10,7,9,"Mersin, Turkey","Elazig, Turkey","Elazig, Turkey",201612,201806,1.0,2.0,3.0
5,15,NaN,NaN,İstanbul,NaN,NaN,201706,201706,NaN,1.0,1.0
7,20,21,21,Elazığ,Macedonia,"Istanbul, Turkey",201607,201812,1.0,3.0,4.0
10,26,26,27,istanbul,"Istanbul, Turkey","Elazig, Turkey",201308,201805,2.0,2.0,2.0

### Merge Tables

In [16]:
df_train[df_edu.columns]   = df_edu[df_edu.columns]
df_train[df_lang.columns]  = df_lang[df_lang.columns]
df_train[df_skill.columns] = df_skill[df_skill.columns]
df_train[df_exp.columns]   = df_exp[df_exp.columns]

df_test[df_edu.columns]   = df_edu[df_edu.columns]
df_test[df_lang.columns]  = df_lang[df_lang.columns]
df_test[df_skill.columns] = df_skill[df_skill.columns]
df_test[df_exp.columns]   = df_exp[df_exp.columns]

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53019 entries, 1301 to 248
Data columns (total 84 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   industry                           52947 non-null  object
 1   location                           53018 non-null  object
 2   moved_after_2019                   53019 non-null  int64
 3   graduate                           39090 non-null  object
 4   master                             16088 non-null  object
 5   phd                                1965 non-null   object
 6   arabic                             24794 non-null  float64
 7   english                            24794 non-null  float64
 8   french                             24794 non-null  float64
 9   german                             24794 non-null  float64
 10  russian                            24794 non-null  float64
 11  spanish                            24794 non-null  float64
 12  turkish                            24794 non-null  float64
 13  .NET                               46199 non-null  float64
 14  AJAX                               46199 non-null  float64
 15  ASP.NET                            46199 non-null  float64
 16  ASP.NET MVC                        46199 non-null  float64
 17  Agile Methodologies                46199 non-null  float64
 18  Android                            46199 non-null  float64
 19  AutoCAD                            46199 non-null  float64
 20  C                                  46199 non-null  float64
 21  C#                                 46199 non-null  float64
 22  C++                                46199 non-null  float64
 23  CSS                                46199 non-null  float64
 24  Docker                             46199 non-null  float64
 25  Eclipse                            46199 non-null  float64
 26  Ekip Çalışması                     46199 non-null  float64
 27  English                            46199 non-null  float64
 28  Entity Framework                   46199 non-null  float64
 29  Git                                46199 non-null  float64
 30  HTML                               46199 non-null  float64
 31  HTML5                              46199 non-null  float64
 32  Hibernate                          46199 non-null  float64
 33  JIRA                               46199 non-null  float64
 34  JSON                               46199 non-null  float64
 35  Java                               46199 non-null  float64
 36  JavaScript                         46199 non-null  float64
 37  Linux                              46199 non-null  float64
 38  Matlab                             46199 non-null  float64
 39  Microsoft Excel                    46199 non-null  float64
 40  Microsoft Office                   46199 non-null  float64
 41  Microsoft SQL Server               46199 non-null  float64
 42  Microsoft Word                     46199 non-null  float64
 43  MongoDB                            46199 non-null  float64
 44  MySQL                              46199 non-null  float64
 45  Mühendislik                        46199 non-null  float64
 46  Node.js                            46199 non-null  float64
 47  OOP                                46199 non-null  float64
 48  OOP (Nesne Yönelimli Programlama)  46199 non-null  float64
 49  Object-Oriented Programming (OOP)  46199 non-null  float64
 50  PHP                                46199 non-null  float64
 51  PL/SQL                             46199 non-null  float64
 52  Photoshop                          46199 non-null  float64
 53  PostgreSQL                         46199 non-null  float64
 54  Programming                        46199 non-null  float64
 55  Proje Yönetimi                     46199 non-null  float64
 56  Project Management                 46199 non-null  float64
 57  Python                             46199 non-null  float64
 58  React.js                           46199 non-null  float64
 59  SQL                                46199 non-null  float64
 60  Scrum                              46199 non-null  float64
 61  Software Development               46199 non-null  float64
 62  Software Engineering               46199 non-null  float64
 63  Spring Framework                   46199 non-null  float64
 64  T-SQL                              46199 non-null  float64
 65  Visual Studio                      46199 non-null  float64
 66  Web Development                    46199 non-null  float64
 67  Web Geliştirme                     46199 non-null  float64
 68  Web Services                       46199 non-null  float64
 69  XML                                46199 non-null  float64
 70  Yazılım Geliştirme                 46199 non-null  float64
 71  jQuery                             46199 non-null  float64
 72  İngilizce                          46199 non-null  float64
 73  company(1th)                       42476 non-null  object
 74  company(2th)                       32065 non-null  object
 75  company(3th)                       22487 non-null  object
 76  company_location(1th)              42476 non-null  object
 77  company_location(2th)              32065 non-null  object
 78  company_location(3th)              22487 non-null  object
 79  min_exp_time                       42476 non-null  float64
 80  max_exp_time                       42476 non-null  float64
 81  company_count_2018                 18421 non-null  float64
 82  company_count_2017                 27604 non-null  float64
 83  company_count_2016                 32312 non-null  float64
dtypes: float64(72), int64(1), object(11)
memory usage: 34.4+ MB

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13255 entries, 17449 to 16036
Data columns (total 83 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   industry                           13239 non-null  object
 1   location                           13255 non-null  object
 2   graduate                           9859 non-null   object
 3   master                             4014 non-null   object
 4   phd                                481 non-null    object
 5   arabic                             6182 non-null   float64
 6   english                            6182 non-null   float64
 7   french                             6182 non-null   float64
 8   german                             6182 non-null   float64
 9   russian                            6182 non-null   float64
 10  spanish                            6182 non-null   float64
 11  turkish                            6182 non-null   float64
 12  .NET                               11551 non-null  float64
 13  AJAX                               11551 non-null  float64
 14  ASP.NET                            11551 non-null  float64
 15  ASP.NET MVC                        11551 non-null  float64
 16  Agile Methodologies                11551 non-null  float64
 17  Android                            11551 non-null  float64
 18  AutoCAD                            11551 non-null  float64
 19  C                                  11551 non-null  float64
 20  C#                                 11551 non-null  float64
 21  C++                                11551 non-null  float64
 22  CSS                                11551 non-null  float64
 23  Docker                             11551 non-null  float64
 24  Eclipse                            11551 non-null  float64
 25  Ekip Çalışması                     11551 non-null  float64
 26  English                            11551 non-null  float64
 27  Entity Framework                   11551 non-null  float64
 28  Git                                11551 non-null  float64
 29  HTML                               11551 non-null  float64
 30  HTML5                              11551 non-null  float64
 31  Hibernate                          11551 non-null  float64
 32  JIRA                               11551 non-null  float64
 33  JSON                               11551 non-null  float64
 34  Java                               11551 non-null  float64
 35  JavaScript                         11551 non-null  float64
 36  Linux                              11551 non-null  float64
 37  Matlab                             11551 non-null  float64
 38  Microsoft Excel                    11551 non-null  float64
 39  Microsoft Office                   11551 non-null  float64
 40  Microsoft SQL Server               11551 non-null  float64
 41  Microsoft Word                     11551 non-null  float64
 42  MongoDB                            11551 non-null  float64
 43  MySQL                              11551 non-null  float64
 44  Mühendislik                        11551 non-null  float64
 45  Node.js                            11551 non-null  float64
 46  OOP                                11551 non-null  float64
 47  OOP (Nesne Yönelimli Programlama)  11551 non-null  float64
 48  Object-Oriented Programming (OOP)  11551 non-null  float64
 49  PHP                                11551 non-null  float64
 50  PL/SQL                             11551 non-null  float64
 51  Photoshop                          11551 non-null  float64
 52  PostgreSQL                         11551 non-null  float64
 53  Programming                        11551 non-null  float64
 54  Proje Yönetimi                     11551 non-null  float64
 55  Project Management                 11551 non-null  float64
 56  Python                             11551 non-null  float64
 57  React.js                           11551 non-null  float64
 58  SQL                                11551 non-null  float64
 59  Scrum                              11551 non-null  float64
 60  Software Development               11551 non-null  float64
 61  Software Engineering               11551 non-null  float64
 62  Spring Framework                   11551 non-null  float64
 63  T-SQL                              11551 non-null  float64
 64  Visual Studio                      11551 non-null  float64
 65  Web Development                    11551 non-null  float64
 66  Web Geliştirme                     11551 non-null  float64
 67  Web Services                       11551 non-null  float64
 68  XML                                11551 non-null  float64
 69  Yazılım Geliştirme                 11551 non-null  float64
 70  jQuery                             11551 non-null  float64
 71  İngilizce                          11551 non-null  float64
 72  company(1th)                       10526 non-null  object
 73  company(2th)                       8060 non-null   object
 74  company(3th)                       5645 non-null   object
 75  company_location(1th)              10526 non-null  object
 76  company_location(2th)              8060 non-null   object
 77  company_location(3th)              5645 non-null   object
 78  min_exp_time                       10526 non-null  float64
 79  max_exp_time                       10526 non-null  float64
 80  company_count_2018                 4645 non-null   float64
 81  company_count_2017                 6868 non-null   float64
 82  company_count_2016                 7976 non-null   float64
dtypes: float64(72), object(11)
memory usage: 8.5+ MB

### Encoding

In [19]:
cat_cols = [col for col in df_test.columns if df_test[col].dtype == 'object']
num_cols = [col for col in df_test.columns if df_test[col].dtype != 'object']

In [20]:
for col in cat_cols:
    train_cats  = set(df_train[col].unique())
    test_cats   = set(df_test[col].unique())
    common_cats = set.intersection(train_cats, test_cats)
    
    df_train.loc[~df_train[col].isin(common_cats), col] = 'other'
    df_test.loc[~df_test[col].isin(common_cats), col] = 'other'

In [21]:
df_all = pd.concat([df_train, df_test], axis=0)

for col in cat_cols:
    df_all[col] = df_all[col].factorize()[0]

df_all[cat_cols] = df_all[cat_cols].astype('category')
df_all[num_cols] = df_all[num_cols].fillna(-1)

df_train = df_all.loc[df_train.index, df_train.columns]
df_test = df_all.loc[df_test.index, df_test.columns]

### Training

In [ ]:
X, y = df_train.drop(columns=[target]), df_train[target]
clf = RandomForestClassifier(n_estimators=200, class_weight='balanced_subsample', random_state=42)
cv  = StratifiedKFold(shuffle=True, random_state=42)

scores = cross_val_score(clf, X, y, cv=cv, scoring='accuracy')

In [ ]:
print(f'Scores mean: {np.mean(scores):.4f}')
print(f'Scores std: {np.std(scores):.4f}')

In [ ]:
clf.fit(X, y)
df_subm.loc[df_test.index, target] = clf.predict(df_test)

df_subm[target] = df_subm[target].astype(int)
df_subm[target].value_counts()

In [ ]:
df_subm.to_csv('submission.csv')